m_env/
tmp/model/__pycache__
tmp/src/__pycache__
tmp/assigners/__pycache__/
tmp/data/__pycache__/
tmp/test/__pycache__
tmp/test/__pycache__/debug_dataset.cpython-313.pyc
tmp/model/head/assigner/__pycache__/
tmp/train/__pycache__/
microdet.egg-info/
tmp/model/loss/__pycache__/
tmp/model/module/__pycache__/
tmp/data/transform/__pycache__/
tmp/model/backbone/__pycache__/
tmp/model/fpn/__pycache__/
tmp/model/weight_averager/__pycache__/
tmp/utils/__pycache__/
tmp/model/head/__pycache__/
tmp/model/detect/__pycache__/